html, body {
    padding:0;
    margin:0;
    height:100%
}
input , select , textarea , button{
    box-sizing: border-box;
}
textarea{
    display: block;
}
div.cover {
    display: table;
    border-spacing: 1em 3px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
div.cover div.box1 {
    display: table-cell;
    width: 33%;
}
div.cover div.box2 {
    display: table-cell;
    width: 33%
}
div.cover div.box3 {
    display: table-cell;
}
